<html>
  <head>
    <title>My Angular App!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="page-header">
            <h1>Meanstack App</h1>
          </div>

          <div ng-repeat="post in posts | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
            <span class="glyphicon glyphicon-thumbs-down" ng-click="decrementUpvotes(post)"></span>

            <span class="font-size:20px;">
              <a href="{{post.link}}" ng-show="post.link">
              {{post.title}}
              </a>
              <span ng-hide="post.link">
                {{post.title}}
              </span>
            </span>
            - upvotes :{{post.upvotes}}
          </div>

          <button ng-click="addPost()">Post</button>
          <hr>
          <form style="margin-top:30px;" ng-submit="addPost()">
            <input type="text" placeholder="Title" ng-model="title">
            <input type="text" placeholder="Link" ng-model="link">
            <button type="submit">Post</button>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>